.horario-tooltip {
    position: relative;
    text-decoration: underline dotted black;
}

.horario-tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Tooltip position */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.horario-tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext.previous-classes {
    left: 100% !important;
}